.auth__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1; 
  visibility: visible; 
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
  display: flex;
}

.auth__popup-content {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 5rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.auth__popup--inactive {
  opacity: 0; 
  visibility: hidden;
}