.e-book-container {
  font-size: 1rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: #838ac2; 
  font-style: italic;
  font-size: 3rem;
}

.game {
 border: #838ac2 2px solid; 
 border-radius: 10px;
 color: #838ac2; 
 background-color: #dde1f9;
 cursor: pointer;
 padding: 5px;
}

.game:hover {
  background-color: #838ac2;
  color: white;
}

.game-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.chapter-container, .pagination {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%
}

.level-btn {
  width: 15%;
  height: 2rem;
  background-color: white;
  border: #474747 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px lightgrey;
}

.level-btn:hover {
  background-color: lightgrey;
}

.level-1 {
  background-color: green;
}

.level-2 {
  background-color: lawngreen;
}

.level-3 {
  background-color: yellow;
}

.level-4 {
  background-color: orange;
}

.level-5 {
  background-color: orangered;
}

.level-6 {
  background-color: red;
}

.pagination-list {  
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;  
  margin: 0;
}

.page-btn {
  border: 1px solid #474747;
  padding: 3px 10px;
  border-radius: 50%;
}

.page-btn:hover {
  background-color: #474747;
  color: white;
}

.active-element {
  background-color: #dde1f9;
  cursor: pointer;
}

.page-btn:disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.active-element:hover {
  background-color: #838ac2;
  color: white;
}

.words-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.word-item {
  border: 1px solid lightgrey;
  padding: 1rem;
  background-color: white;
}

.word-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.word-img {
  width: 40%;
}

.word-img img{
  border-radius: 5px;  
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem; 
  width: 90%;
  position: relative;
}

.hard-word {
  position: absolute;
  top: 0;
  right: 15%;
  color: orange;
}

.word-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.word-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.sound {
  justify-self: end;  
}

.sound-image {
  background-image: url('./../../../assets/play.svg');
  height: 40px;
  width: 40px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;  
}

.english {
  font-weight: 800;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.translation {
  color: #474747;
  font-size: 1.3rem;
}

.text-meaning-translate, 
.text-examples-translate {
  color: #474747;
}

.text-meaning, 
.text-examples {
 font-size: larger;
}

.control-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}

.complicated-btn, 
.deleted-btn,
.learned-btn {  
  padding: 3px 7px; 
  border-radius: 5px; 
  font-weight: bold;
  cursor: pointer;
}

.complicated-btn {
  background-color: orange;
  border: orange 1px solid;
}

.easy-word {
  color: green;
  background-color: white;
}

.learned-btn {
  background-color: green;
  border: green 1px solid;
}

.deleted-btn {
  background-color: red;
  border: red 1px solid;
}

.complicated-btn:hover {
  background-color: desaturate(orange, 30%);
  color: white;
}

.learned-btn:hover {
  background-color: desaturate(green, 30%);
  color: white;

}

.deleted-btn:hover {
  background-color: desaturate(red, 30%);
  color: white;

}

.complicated-btn:disabled, 
.deleted-btn:disabled,
.learned-btn:disabled {
  border: #474747 1px solid;
  padding: 3px 7px;
  color: #838ac2;
  font-weight: normal;
  border-radius: 5px;
  background-color: lightgrey;
}
